p, h1{
    font-family: 'Bebas Neue', cursive;
}
.logo img{
    width: 300px;
}
.img-top img{
    width: 400px;
}
.btn-customized{
    border-radius: 7px;
    background-image: linear-gradient(#A4BC46, #85A019);
    color: white;
    border:0px;
    padding: 10px 25px;
}
.btn-customized img{
    width: 20px;
}
.head-1{
    color: #FABE4C;
}
.head-2{
    color: #363958;
}
.background-color{
    background-color: #FFFBF0;
}
h5{
    font-weight: 700;
}
.card img{
    width: 210px;
    height: 257px;
}
.price{
    color: #FABE4C;
    font-weight: 900;
    font-size: 36px;
}
.card{
    border: 0em;
    border-radius: 20px;
}
.img-bg{
    background-color: #F1F1F1;
}
.img-mp{
    width: 50%;
    margin: 1px auto;
    display:block;
}
.bg-custom{
    background-color: #3fd9c7;
}